<div class="row small-12 medium-8 columns balance-box">
  <div class="balance-info">
    <div class="balance-title">
      Current Balance
    </div>
    <div class="balance-amount">
      <%= number_to_currency(@balance) %>
    </div>
  </div>
</div>

<% @students.each do |student| %>
  <div class="row small-12 medium-8 columns student-info">
    <div class="student-name">
      <%= link_to "#{student.full_name}", student_path(student) %>
    </div>
    <% student.inquiries.where(completed: false).each do |inquiry| %>
      <div class="pending" id="pending-<%= inquiry.instrument %>">
        Pending <%= inquiry.instrument %> Inquiry
        <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i>".html_safe, edit_inquiry_path(inquiry), id: "edit-inquiry" %>
      </div>
    <% end %>
    <% student.lessons.each do |lesson| %>
      <div id="lessons-<%= lesson.student.first_name %>-<%= lesson.instrument %>" class="lesson-info">
        <div class="lesson-instrument">
          <%= lesson.instrument %>
        </div>
        <div class="lesson-time">
          <%= lesson.time_info %>
        </div>
        <div class="lesson-remaining">
         <%= lesson.remaining %> Lessons Remaining
       </div>
        <div class="lesson-excused">
          <%= lesson.excused_remaining %> Excused Remaining
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<ul class="no-bullets">
  <h5>Transaction History</h5>
  <% @transactions.each do |transaction| %>
  <li class="<%= transaction.type.downcase %> ">
    <%= transaction.created_at.strftime("%-m/%-d/%Y") %> <%= transaction.description %> <%= transaction.balance_sign %><%= number_to_currency(transaction.amount) %>
  </li>
  <% end %>
</ul>
