<h2> Dashboard </h2>

<h3> Students </h3>
<% @students.each do |student| %>
  <%= student.full_name %></br>
  <p>
    <% student.inquiries.where(completed: false).each do |inquiry| %>
      Instrument: <%= inquiry.instrument %> -
      <%= link_to "Edit Inquiry", edit_inquiry_path(inquiry) %></br>
    <% end %>
  </p>
  <p>
    <%= link_to "New Inquiry for #{student.first_name}", new_inquiry_path(student: student.id) %></br>
    <%= link_to "Edit Student Availability", edit_student_path(student) %></br>
    <%= link_to "Delete Student", student_path(student), method: :delete %></br>
  </p>
<% end %>

<h3>Lessons</h3>

<% @lessons.each do |lesson| %>
<div id="lessons-<%= lesson.student.first_name %>-<%= lesson.instrument %>">
  <p>
    Teacher: <%= lesson.teacher.staff_name %></br>
    <%= lesson.time_info %></br>
    <%= "#{lesson.remaining} lessons remaining" %></br>
    <%= lesson.price_info %></br>
    Remaining Balance: <%= "$#{lesson.remaining_balance}" %></br>
    Excused Remaining:
  </p>
</div>
<% end %>
