<% @students.each do |student| %>
<div class="row small-12 medium-8 columns callout student-info">
  <ul>
    <li>
      <h2><%= link_to "#{student.full_name}", student_path(student) %></h2>
    </li>
    <% student.inquiries.where(completed: false).each do |inquiry| %>
    <li class="pending">
      Pending <%= inquiry.instrument %> Inquiry
      <%= link_to "Edit", edit_inquiry_path(inquiry) %>
    </li>
  </ul>
  <% end %>
  <% student.lessons.each do |lesson| %>
    <div id="lessons-<%= lesson.student.first_name %>-<%= lesson.instrument %>" class="lesson-info">
        <ul>
          <li>
            <h2><%= lesson.instrument %></h2>
          </li>
          <li>
            <%= lesson.time_info %>
          </li>
          <li>
           Lessons Remaining: <%= lesson.remaining %>
          </li>
          <li>
            Excused Remaining: <%= lesson.excused_remaining %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
