<h4>Edit Student</h4>

<%= form_for @student do |f| %>

  <div class= "field">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </div>

  <div class= "field">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </div>

  <div class= "field">
    <%= f.label :dob, "Date of Birth" %>
    <%= f.date_field :dob %>
  </div>

  <div class= "actions">
    <%= f.submit "Update Student" %>
  </div>
<% end %>

<%= link_to "Cancel", dashboard_index_path %>
