<h4>Edit Availability</h4>

<p> Student: <%= @student.full_name %> </p>
<p> Date of Birth: <%= @student.dob.strftime("%m-%d-%Y") %> </p>

<%= form_for @student do |f| %>

<% @availabilities.each do |day| %>
  <div class="field">
    <%= f.fields_for :availabilities, day do |a| %>
    <% day.start_time ||= "10:00 AM" %>
    <% day.end_time ||= "12:00 PM" %>
    <div id ="<%= day.day %>">
      <%= a.check_box :checked %>
      <%= a.label day.day %>
      <%= a.hidden_field :day %>
      <%= a.hidden_field :start_time %>
      <%= a.hidden_field :end_time %>

      <div id="time-range-<%= day.day %>">
        <p> Time Range: <span class="slider-time-<%= day.day %>"><%= day.start_time.strftime("%l:%M %p") %></span> - <span class="slider-time2-<%= day.day %>"><%= day.end_time.strftime("%l:%M %p") %></span> </p>
        <div class="sliders_step1-<%= day.day %>">
            <div id="slider-range-<%= day.day %>"></div>
        </div>
      </div>
    </div>

    <% end %>
  </div>
<% end %>

  <div class= "actions">
    <%= f.submit "Update Availability", id:"submit" %>
  </div>
<% end %>

<%= link_to "Cancel", dashboard_index_path %>

<%= javascript_include_tag "slider_time.js" %>
<%= javascript_include_tag "slider_edit"%>
