<h4>New Student Inquiry</h4>

<%= form_for @student do |f| %>

  <div class= "field">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </div>

  <div class= "field">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </div>

  <div class= "field">
    <%= f.label :dob, "Date of Birth" %>
    <%= f.date_field :dob %>
  </div>


    <%= f.fields_for :inquiries do |inquiry| %>
      <div class= "field">
        <%= inquiry.label :instrument %>
        <%= inquiry.select :instrument, options_from_collection_for_select(@instruments, :name, :name) %>
      </div>
      <div class= "field">
        <%= inquiry.label :notes, "Additional Notes" %>
        <%= inquiry.text_area :notes %>
      </div>
    <% end %>

  <% @availabilities.each do |day| %>
    <div class="field">
      <%= f.fields_for :availabilities, day do |a| %>
      <div id ="<%= day.day %>">
        <%= a.check_box :checked %>
        <%= a.label day.day %>
        <%= a.hidden_field :day %>
        <div id="time-range-<%= day.day %>">
          <p> Time Range: <span class="slider-time-<%= day.day %>">10:00 AM</span> - <span class="slider-time2-<%= day.day %>">12:00 PM</span> </p>
          <div class="sliders_step1-<%= day.day %>">
              <div id="slider-range-<%= day.day %>"></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

  <div class= "actions">
    <%= f.submit "Submit Inquiry" %>
  </div>
<% end %>

<%= link_to "Cancel", dashboard_index_path %>
