<h4>New Student Inquiry</h4>

<%= form_for @student_form, url: students_path do |f| %>

  <div class= "field">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, required: true %>
  </div>
  <div class= "field">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, required: true %>
  </div>
  <div class= "field">
    <%= f.label :dob, "Date of Birth" %>
    <%= f.date_field :dob, required: true %>
  </div>

  <div class="accounts-contacts">
    <div class= "field">
      <%= f.label :instrument %>
      <%= f.select :instrument, options_from_collection_for_select(@instruments, :name, :name) %>
    </div>
    <div class= "field">
      <%= f.label :notes, "Additional Notes" %>
      <%= f.text_area :notes %>
    </div>
  </div>

  <% @days.each do |day| %>
    <div class="field">
      <div class="avail-block">
        <div id ="<%= day.downcase %>">
          <%= f.check_box "#{day.downcase}_checked" %>
          <%= f.label day %>
          <%= hidden_field_tag "student_form[#{day.downcase}_day]", "#{day}" %>
          <%= f.hidden_field "#{day.downcase}_start_time" %>
          <%= f.hidden_field "#{day.downcase}_end_time" %>

          <div id="time-range-<%= day.downcase %>">
            <p> Time Range: <span class="slider-time-<%= day.downcase %>">10:00 AM</span> - <span class="slider-time2-<%= day.downcase %>">12:00 PM</span> </p>
            <div class="sliders_step1-<%= day.downcase %>">
                <div id="slider-range-<%= day.downcase %>"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>

  <div class= "actions">
    <%= f.submit "Submit Inquiry", id:"submit" %>
  </div>
<% end %>

<%= link_to "Cancel", dashboard_index_path %>

<%= javascript_include_tag "slider_time" %>
<%= javascript_include_tag "slider"%>
<%= javascript_include_tag "availTransparency"%>
