<%= form_for @student do |f| %>
  <div class= "field">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </div>

  <div class= "field">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </div>

  <div class= "field">
    <%= f.label :dob, "Date of Birth" %>
    <%= f.date_field :dob %>
  </div>

  <div class= "field">
    <%= f.fields_for :inquiries do |i| %>
      <%= i.label :instrument %>
      <%= i.text_field :instrument %>
    <% end %>
  </div>

  <div class= "actions">
    <%= f.submit "Send Inquiry" %>
  </div>
<% end %>
