<%= form_for @student do |f| %>

  <div class= "field">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </div>

  <div class= "field">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </div>

  <div class= "field">
    <%= f.label :dob, "Date of Birth" %>
    <%= f.date_field :dob %>
  </div>

  <div class= "field">
    <%= f.fields_for :inquiries do |inquiry| %>
      <%= inquiry.label :instrument %>
      <%= inquiry.text_field :instrument %>
      <% @availabilities.each_with_index do |day, index| %>
        <div class="field">
          <%= inquiry.fields_for :availabilities, day do |a| %>
            <%= a.label @days[index] %>
            <%= a.text_field :day %>
            <%= a.label :start %>
            <%= a.text_field :start %>
            <%= a.label :end %>
            <%= a.text_field :end %>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class= "actions">
    <%= f.submit "Send Inquiry" %>
  </div>
<% end %>
