<h1><%= @student.full_name %></h1>

<h3>Inquiries</h3>
<% @inquiries.each do |inquiry| %>
  <%= inquiry.instrument %> - <%= inquiry.completed ? "Completed" : "Pending" %>
  <br/>
  Availability
  <ul>
    <% @student.availabilities.each do |availability| %>
      <% unless availability.checked == "0" %>
        <li>
          <%= availability.day %>:
          <%= availability.start_time.strftime("%l:%M %p") %>
          -
          <%= availability.end_time.strftime("%l:%M %p") %>
        </li>
      <% end %>
    <% end %>
    <% if inquiry.completed == false %>
      <li>
        <%= link_to "Register Student", new_lesson_path(student: @student.id, inquiry: inquiry.id) %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Lessons</h3>
<% @student.lessons.each do |lesson| %>
  <div id="lessons-<%= lesson.student.full_name %>-<%= lesson.instrument %>">
    <p>
      <%= lesson.instrument %></br>
      Teacher: <%= lesson.teacher.email %></br>
      <%= "#{lesson.remaining} lessons remaining" %></br>
      Lesson Times: <%= lesson.time_info %></br>
      <%= lesson.price_info %></br>
      Remaining Balance: <%= "$#{lesson.remaining_balance}" %></br>
      Excused Remaining:
    </p>
  </div>
<% end %>

<%= link_to "Dashboard", admin_index_path %>
