<h4>
  <%= @student.full_name %>
  <span class="student-links">
  </span>
</h4>
<h4>Lessons</h4>
<% @lessons.each do |lesson| %>
<div id="lessons-<%= lesson.student.first_name %>-<%= lesson.instrument %>" class="callout">
  <p>
    Instrument: <%= lesson.instrument %></br>
    Teacher: <%= lesson.teacher.staff_name %></br>
    <%= "#{lesson.remaining} lessons remaining" %></br>
    Lesson Times: <%= lesson.time_info %></br>
    <%= lesson.price_info %></br>
    Excused Remaining: <%= lesson.excused_remaining %></br>
    Lesson History:</br>
    <%= lesson.print_history %>
  </p>
</div>
<% end %>
<div class="callout">
  <h4>
    Student Availability
    <% unless current_account.type == "Teacher" %>
      <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i>".html_safe, edit_student_path(@student), id: "edit-availability" %>
    <% end %>
  </h4>
  <div>
    <ul class="no-bullets">
      <% @student.availabilities.each do |availability| %>
        <% unless availability.checked == "0" %>
          <li>
            <%= availability.day %>:
            <%= availability.start_time.strftime("%l:%M %p") %>
            -
            <%= availability.end_time.strftime("%l:%M %p") %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="callout">
<h4>Inquiries
  <% unless current_account.type == "Teacher" %>
      <%= link_to "<i class='fa fa-plus' aria-hidden='true'></i>".html_safe, new_inquiry_path(student: @student.id), id: "add-inquiry" %>
  <% end %>
</h4>
<% @inquiries.each do |inquiry| %>
  <%= inquiry.instrument %> - <%= inquiry.completed ? "Completed" : "Pending" %><br/>
  <%= inquiry.notes ? inquiry.notes : nil %><br/>
</div>
<% end %>
