<h4>
  <%= @student.full_name %>
  <%= link_to "<i class='fa fa-users' aria-hidden='true'></i>".html_safe, summary_admin_index_path(family_id: @student.family.id), id: "family-icon" if current_account.type == "Admin" %>
</h4>

<h4>Lessons</h4>
<% @lessons.each do |lesson| %>
  <div id="lessons-<%= lesson.student.first_name %>-<%= lesson.instrument %>" class="callout">
    <p>
      Instrument: <%= lesson.instrument %></br>
      Teacher: <%= lesson.teacher.staff_name %></br>
      <%= "#{lesson.remaining} lessons remaining" %></br>
      Lesson Times: <%= lesson.time_info %></br>
      <div class="price-info">
        <%= lesson.price_info %></br>
      </div>
      Excused Remaining: <%= lesson.excused_remaining %></br>
      Lesson History:</br>
      <%= lesson.print_history %>
      Future Lessons:
      <% lesson.future_lessons.each do |future_lesson| %>
        <li>
          <%= future_lesson.to_formatted_s(:long) %>
        </li>
      <% end %>
    </p>

    <% if current_account.type == "Admin" %>
      <%= form_for @dropped_lesson_form, url: dropped_lessons_path do |f| %>
        <div class="field">
          <%= f.label :lesson_amount, "Lesson Amount" %><br />
          <%= f.number_field :lesson_amount, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :effective_date, "Effective Date" %><br />
          <%= f.collection_select(:effective_date, lesson.future_lessons, :to_s, :to_s) %>
        </div>
        <div class="field">
          <%= f.label :reason %><br />
          <%= f.text_field :reason %>
        </div>
        <div class="field">
          <%= f.label :transaction_amount, "Credit Amount" %><br />
          <%= f.number_field :transaction_amount %>
        </div>
        <%= f.hidden_field :transaction_type, value: "Credit" %>
        <%= f.hidden_field :lesson_id, value: lesson.id %>
        <%= f.hidden_field :family_id, value: lesson.student.family.id %>
        <%= f.hidden_field :admin_id, value: current_account.id %>

        <div class= "actions">
          <%= f.submit "Drop Lessons", data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="callout">
  <h4>
    Student Availability
    <% unless current_account.type == "Teacher" %>
      <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i>".html_safe, edit_student_path(@student), id: "edit-availability" %>
    <% end %>
  </h4>
  <div>
    <ul class="no-bullets">
      <% @student.availabilities.each do |availability| %>
        <% unless availability.checked == "0" %>
          <li>
            <%= availability.day %>:
            <%= availability.start_time.strftime("%l:%M %p") %>
            -
            <%= availability.end_time.strftime("%l:%M %p") %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="callout">
<h4>Inquiries
  <% unless current_account.type == "Teacher" %>
      <%= link_to "<i class='fa fa-plus' aria-hidden='true'></i>".html_safe, new_inquiry_path(student: @student.id), id: "add-inquiry" %>
  <% end %>
</h4>
<% @inquiries.each do |inquiry| %>
  <%= inquiry.instrument %> - <%= inquiry.completed ? "Completed" : "Pending" %><br/>
  <%= inquiry.notes ? inquiry.notes : nil %><br/>
</div>
<% end %>

<%= javascript_include_tag "studentShow" %>
