<h1>Admin Dashboard</h1>

<div id="teacher-cal-dropdown">
  <p>Teacher Calendar:
    <%= collection_select(:teacher, :calendar, @teachers, :id, :staff_name, :include_blank => "Select a teacher") %>
  </p>
</div>
<%= render "layouts/admin_cal" %>

<h3>Open Inquiries:</h3>
<div id="admin-inquiries">
  <ul>
    <% @open_inquiries.each do |inquiry| %>
    <li>
      <%= link_to "#{inquiry.student.full_name}", student_path(inquiry.student) %> -
      <%= inquiry.instrument %>
    </li>
    <% end %>
  </ul>
</div>

<div id="admin-attendance">
  <p>Take Attendance For:
    <%= collection_select(:teacher, :attendance, @teachers, :id, :staff_name, :include_blank => "Select a teacher") %>
  </p>
</div>
<%= javascript_include_tag "teacherShow"%>
