<h1>Admin Dashboard</h1>

<h3>Open Inquiries:</h3>
<div id="admin-inquiries">
  <ul>
    <% @open_inquiries.each do |inquiry| %>
    <li>
      <%= link_to "#{inquiry.student.full_name}", student_path(inquiry.student) %> -
      <%= inquiry.instrument %>
    </li>
    <% end %>
  </ul>
</div>

<h3><%= link_to "Staff Members", teachers_path %></h3>

<h3><%= link_to "Students", students_path %></h3>

<h3><%= link_to "Lessons", lessons_path %></h3>

<%= link_to "Add Admin", new_admin_path %></br>
<%= link_to "Add Teacher", new_teacher_path %></br>
<%= link_to "Pricing Tiers", prices_path %></br>
<%= link_to "Instruments", instruments_path %></br>
<%= link_to "Absence Reasons", reasons_path %>
