<h1>New Admin Account</h1>

<%= form_for @admin_form, url: admin_index_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, required: true %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, required: true %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, required: true %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.select :state, options_for_select(@states, f.object.state) %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, required: true %>
  </div>

  <div class="accounts-contacts">
    <div class="field">
      <%= f.label :first_name, "First Name" %><br />
      <%= f.text_field :first_name, required: true %>
    </div>
    <div class="field">
      <%= f.label :last_name, "Last Name" %><br />
      <%= f.text_field :last_name, required: true %>
    </div>
    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone, required: true %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Create Account", id:"submit" %>
  </div>
<% end %>

<%= link_to "Cancel", admin_index_path %>
