<h1>New Admin Account</h1>

<%= form_for @admin, url: admin_index_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.select :state, options_for_select(@states) %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>

  <div class="accounts-contacts">
    <%= f.fields_for :contacts do |c| %>
    <div class="field">
      <%= c.label :first_name, "First Name" %><br />
      <%= c.text_field :first_name %>
    </div>
    <div class="field">
      <%= c.label :last_name, "Last Name" %><br />
      <%= c.text_field :last_name %>
    </div>
    <div class="field">
      <%= c.label :phone %><br />
      <%= c.text_field :phone %>
    </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Create Account", id:"submit" %>
  </div>
<% end %>

<%= link_to "Cancel", admin_index_path %>
