<h3>School Settings</h3>

<div class="callout">
  <h3>Pricing Tiers <a href="#" id="add-price"><i class="fa fa-plus" aria-hidden="true"></i></a></h3>
  <% if @prices %>
    <% @prices.each do |price| %>
      <p>
        <%= price.description %>
        <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i>".html_safe, edit_price_path(price), id: "edit-price" %>
        <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, price_path(price), method: :delete, id: "delete-price" %>
      </p>
    <% end %>
  <% end %>
  <div class="hidden-submit price" id="price-form">
    <%= render "admin/settings/prices_form" %>
  </div>
</div>

<div class="callout">
  <h3>Instruments <a href="#" id="add-instrument"><i class="fa fa-plus" aria-hidden="true"></i></a></h3>
  <% if @instruments %>
    <% @instruments.each do |instrument| %>
      <p>
        <%= instrument.name %>
        <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i>".html_safe, edit_instrument_path(instrument), id: "edit-instrument" %>
        <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, instrument_path(instrument), method: :delete, id: "delete-instrument" %>
      </p>
    <% end %>
  <% end %>
  <div class="hidden-submit instrument">
    <%= render "admin/settings/instruments_form" %>
  </div>
</div>

<div class="callout">
  <h3>Absence Reasons <a href="#" id="add-reason"><i class="fa fa-plus" aria-hidden="true"></i></a></h3>
  <% if @reasons %>
    <% @reasons.each do |reason| %>
      <p>
        <%= reason.reason %>
        <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i>".html_safe, edit_reason_path(reason), id: "edit-reason" %>
        <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, reason_path(reason), method: :delete, id: "delete-reason" %>
      </p>
    <% end %>
  <% end %>
  <div class="hidden-submit reason">
    <%= render "admin/settings/reasons_form" %>
  </div>
</div>

<div class="callout">
  <h3>Excused Absences Allotted: <%= @count ? @count.count : "0" %> </h3>
  <% if @count.nil? %>
    <%= render "admin/settings/new_excused_form" %>
  <% else %>
    <%= render "admin/settings/edit_excused_form" %>
  <% end %>
</div>


<%= javascript_include_tag "settings" %>
