<h3>
  <%= @family.primary_family_contact.last_name %> Family Account Summary
</h3>

<div class="callout">
  <h4>Address</h1>
  <ul class="no-bullets">
    <li> <%= @family.address %> </li>
    <li> <%= @family.city %>, <%= @family.state %>  <%= @family.zip %> </li>
  </ul>
</div>

<div class="callout">
  <h4>Contacts</h4>
  <ul class="no-bullets">
    <li>Primary: <%= @family.primary_family_contact.full_name %> - <%= number_to_phone(@family.primary_family_contact.phone) %> - <%= @family.primary_family_contact.email %></li>
    <% @contacts.each do |contact| %>
      <li><%= contact.full_name %> - <%= contact.phone %> </li>
    <% end %>
  </ul>
</div>

<div class="callout">
  <h4>Students</h4>
  <ul class="no-bullets">
    <% @students.each do |student| %>
      <li> <%= link_to "#{student.full_name}", student_path(student) %> </li>
    <% end %>
  </ul>
</div>

<div class="callout">
  <h4 class="balance_total"> Current Balance: <%= number_to_currency(@family.current_balance) %></h4>
  <ul class="no-bullets">
    <% @transactions.each do |transaction| %>
    <li class="<%= transaction.type.downcase %> "> <%= transaction.created_at.strftime("%-m/%-d/%Y") %> <%= transaction.description %> <%= transaction.balance_sign %><%= number_to_currency(transaction.amount) %> 
    <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, transaction_path(transaction), id: "delete-transaction", method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
    <% end %>
  </ul>
</div>

<div class="add-transaction callout small-12 medium-6">
  <%= form_for @transaction, url: transactions_path, method: :post do |f| %>
    <%= f.hidden_field :family_id, value: @family.id %>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount %>
    </div>
    <div class="field">
      <%= f.radio_button(:type, "Credit") %>
      <%= f.label(:type, "Credit") %><br/>
      <%= f.radio_button(:type, "Debit") %>
      <%= f.label(:type, "Debit") %>
    </div>
    <div class="actions">
      <%= f.submit "Add Transaction", class: "button success"%>
    </div>
  <% end %>
</div>
