<div id="contact-<%= @primary.first_name %>-<%= @primary.last_name %>">
  <%= @primary.full_name %> - <%= " Primary" %></br>
  <p>
    <%= link_to "Edit Contact", edit_contact_path(@primary) %></br>
  </p>
</div>
