<h1>New Contact</h1>

<%= form_for @contact do |f| %>
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>
  </br>
  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %>
  </br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  </br>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  </br>

  <div class= "actions">
    <%= f.submit "Add Contact" %>
  </div>
<% end %>

<%= link_to "Cancel", dashboard_index_path %>
