<h3>All Lessons:</h3>
<% @lessons.each do |lesson| %>
  <div id="lessons-<%= lesson.student.full_name %>-<%= lesson.instrument %>">
    <p>
      <%= lesson.student.full_name %> - <%= lesson.instrument %></br>
      <% unless current_account.type == "Teacher" %>
        Teacher: <%= lesson.teacher.staff_name %></br>
      <% end %>
      <%= "#{lesson.remaining} lessons remaining" %></br>
      Lesson Times: <%= lesson.time_info %></br>
      <%= lesson.price_info %></br>
      Current Balance: <%= "$#{lesson.student.family.current_balance}" %></br>
      Excused Remaining: <%= lesson.excused_remaining %>
    </p>
  </div>
<% end %>
