<h4>Edit Availability</h4>

<p><%= @teacher.staff_name %> </p>

<%= form_for @teacher_form, url: teacher_path(@teacher), method: "put" do |f| %>

  <% @availabilities.each do |a| %>
    <div class="field">
      <div class="avail-block">
        <div id ="<%= a.day.downcase %>">
          <%= f.check_box "#{a.day.downcase}_checked", checked: (a.checked == "1" ? true : false) %>
          <%= f.label a.day %>
          <%= hidden_field_tag "teacher_form[#{a.day.downcase}_day]", "#{a.day}" %>
          <%= f.hidden_field "#{a.day.downcase}_start_time" %>
          <%= f.hidden_field "#{a.day.downcase}_end_time" %>

          <div id="time-range-<%= a.day.downcase %>">
            <p> Time Range: <span class="slider-time-<%= a.day.downcase %>"></span> - <span class="slider-time2-<%= a.day.downcase %>"></span> </p>
            <div class="sliders_step1-<%= a.day.downcase %>">
                <div id="slider-range-<%= a.day.downcase %>"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>

  <div class= "actions">
    <%= f.submit "Update Availability", id:"submit_teacher" %>
  </div>
<% end %>

<%= javascript_include_tag "slider_time_teacher" %>
<%= javascript_include_tag "slider_edit_teacher"%>
