<h4>New Teacher Account</h4>

<%= form_for @teacher do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>

  <div class="accounts-contacts">
    <%= f.fields_for :contacts do |c| %>
    <div class="field">
      <%= c.label :first_name, "First Name" %><br />
      <%= c.text_field :first_name %>
    </div>
    <div class="field">
      <%= c.label :last_name, "Last Name" %><br />
      <%= c.text_field :last_name %>
    </div>
    <div class="field">
      <%= c.label :phone %><br />
      <%= c.text_field :phone %>
    </div>
    <% end %>
  </div>

  <% @availabilities.each do |day| %>
    <div class="field">
      <%= f.fields_for :availabilities, day do |a| %>
      <div id ="<%= day.day %>">
        <%= a.check_box :checked %>
        <%= a.label day.day %>
        <%= a.hidden_field :day %>
        <%= a.hidden_field :start_time %>
        <%= a.hidden_field :end_time %>

        <div id="time-range-<%= day.day %>">
          <p> Time Range: <span class="slider-time-<%= day.day %>">10:00 AM</span> - <span class="slider-time2-<%= day.day %>">12:00 PM</span> </p>
          <div class="sliders_step1-<%= day.day %>">
              <div id="slider-range-<%= day.day %>"></div>
          </div>
        </div>
      </div>

      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Create Account", id:"submit_teacher" %>
  </div>
<% end %>

<%= link_to "Cancel", admin_index_path %>

<%= javascript_include_tag "slider_time_teacher.js" %>
<%= javascript_include_tag "slider.js"%>
