<h1>Welcome, <%= current_account.contacts.first.full_name %></h1>

<h3>Current Lessons</h3>
<% @lessons.each do |lesson| %>
  <div id="lessons-<%= lesson.student.full_name %>-<%= lesson.instrument %>">
    <p>
      <%= lesson.student.full_name %> - 
      <%= lesson.instrument %></br>
      <%= "#{lesson.remaining} lessons remaining" %></br>
      Lesson Times: <%= lesson.time_info %></br>
      <%= lesson.price_info %></br>
      Excused Remaining:
    </p>
  </div>
<% end %>
