<h1>Welcome, <%= current_account.contacts.first.full_name %></h1>

<h3>Current Lessons</h3>
<% @lessons.each do |lesson| %>
  <div id="lessons-<%= lesson.student.full_name %>-<%= lesson.instrument %>">
    <p>
      <%= lesson.student.full_name %> -
      <%= lesson.instrument %></br>
      <%= "#{lesson.remaining} lessons remaining" %></br>
      Lesson Times: <%= lesson.time_info %></br>
      <%= lesson.price_info %></br>
      Excused Remaining:
    </p>
  </div>
<% end %>

<h3>Outstanding Attendance:</h3>
<% @attendance.each do |lesson| %>
  <div id="attendance-<%= lesson.student.first_name %>-<%= lesson.student.last_name %>">
    <%= lesson.student.full_name %></br>
    Attendance For: <%= lesson.active_lesson %>
      <div class="button-group">
        <%= link_to "Present", attended_lesson_path(lesson), method: :patch, class: "button success" %>
        <%= link_to "Absent", "#", class: "button alert" %>
      </div>
      <div class="hidden-submit">
        <%= form_for lesson.missed_lessons.last, url: missed_lessons_path do |f| %>
        <%= f.hidden_field :lesson_id %>
        <%= f.label :reason_id, "Reason" %>
        <%= f.select :reason_id, options_from_collection_for_select(Reason.all, :id, :reason) %>
        <%= f.submit "Submit" %>
      </div>
      <% end %>
  </div>
<% end %>

<%= link_to "Edit Availability", edit_teacher_path(current_account) %></br>
