<%= form_for @price do |f| %>
  <div class="field">
    <%= f.label :tier_name, "Tier Name"  %>
    <%= f.text_field :tier_name  %>
  </div>
  <div class="field">
    <%= f.label :duration, "Duration (minutes)" %>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class= "actions">
    <%= f.submit "Create Pricing Tier" %>
  </div>
<% end %>
