<h1>New Inquiry for <%= @student.full_name %></h1>

<%= render "availability" %>

<%= form_for(@inquiry) do |f| %>
  <div class= "field">
    <%= f.label :instrument %>
    <%= f.select :instrument, options_from_collection_for_select(@instruments, :name, :name) %>
  </div>
  <div class= "field">
    <%= f.label :notes, "Additional Notes" %>
    <%= f .text_area :notes %>
  </div>
  <%= f.hidden_field :student_id %>

  <div class= "actions">
    <%= f.submit "Submit Inquiry" %>
  </div>
<% end %>

<%= link_to "Cancel", dashboard_index_path %>
