<h1>New Inquiry for <%= @student.first_name %></h1>

<%= render 'availability' %>

<%= form_for(@inquiry) do |f| %>
  <%= f.label :instrument %>
  <%= f.text_field :instrument %>
  </br>
  <%= f.label :notes, "Additional Notes" %>
  <%= f.text_area :notes %>
  <%= f.hidden_field :student_id %>

  <div class= "actions">
    <%= f.submit "Submit Inquiry" %>
  </div>
<% end %>

<%= link_to "Cancel", dashboard_index_path %>
