Student: <%= @student.full_name %><br/>
Inquiry Instrument: <%= @inquiry.instrument %><br/>
Availability:
<ul>
  <% @student.availabilities.each do |availability| %>
    <% unless availability.checked == "0" %>
      <li>
        <%= availability.day %>:
        <%= availability.start_time.strftime("%l:%M %p") %>
        -
        <%= availability.end_time.strftime("%l:%M %p") %>
      </li>
    <% end %>
  <% end %>
</ul>
<p><%= link_to "Register Student", "#", id:"register-button" %></p>

<p><%= render '/lessons/registration_form', :lesson => @lesson %></p>

<div class= "inquiry-calendar">
</div>
