<h3><%= @student.full_name %>'s Inquiry</h3>
  <%= @inquiry.instrument %> - <%= @inquiry.completed ? "Completed" : "Pending" %>
  <br/>
  Availability
  <ul>
    <% @student.availabilities.each do |availability| %>
      <% unless availability.checked == "0" %>
        <li>
          <%= availability.day %>:
          <%= availability.start_time.strftime("%l:%M %p") %>
          -
          <%= availability.end_time.strftime("%l:%M %p") %>
        </li>
      <% end %>
    <% end %>
    <% if @inquiry.completed == false %>
      <li>
        <%= link_to "Register Student", "#", id:"register-button" %>
      </li>
    <% end %>
  </ul>

  <%= render '/lessons/registration_form', :lesson => @lesson %>

  <div class= "inquiry-calendar">

  </div>
