<h1>Instruments Offered:</h1>
<% if @instruments %>
  <% @instruments.each do |instrument| %>
    <p>
      <%= instrument.name %>
      <%= link_to "Edit", edit_instrument_path(instrument) %>
      <%= link_to "Delete", instrument_path(instrument), method: :delete %>
    </p>
  <% end %>
<% end %>

<%= form_for @instrument do |f| %>
  <div class="field">
    <%= f.label :name, "Instrument Name"  %>
    <%= f.text_field :name  %>
  </div>

  <div class= "actions">
    <%= f.submit "Add Instrument" %>
  </div>
<% end %>

<%= link_to "Dashboard", admin_index_path %>
