<li>
  <%= link_to "Staff", "#" %>
  <ul class="menu vertical">
    <li>
      <%= link_to "All Staff", teachers_path %>
    </li>

    <li>
      <%= link_to "Add Admin", new_admin_path %>
    </li>

    <li>
      <%= link_to "Add Teacher", new_teacher_path %>
    </li>

    <li>
      <%= link_to "Instrument Associations", teacher_instruments_path %>
    </li>
  </ul>
</li>
