<div class="small-12 columns">
  <div class="row">
    <div class="small-1 columns time-header">
      Time
    </div>
    <div class="small-1 columns day-header">
      Mon
    </div>
    <div class="small-1 columns day-header">
      Tue
    </div>
    <div class="small-1 columns day-header">
      Wed
    </div>
    <div class="small-1 columns day-header">
      Thu
    </div>
    <div class="small-1 columns day-header">
      Fri
    </div>
    <div class="small-1 columns day-header">
      Sat
    </div>
    <div class="small-1 columns end day-header">
      Sun
    </div>
  </div>
  <% while @time <= @end_time do %>
    <div class="row" id="<%= @time.strftime("%I%M%p") %>">
      <div class="small-1 columns schedule-block time-header">
        <% if @time.strftime("%M") == "00" || @time.strftime("%M") == "30" %>
          <%= @time.strftime("%l:%M %p")%>
        <% end %>
      </div>
      <div class="small-1 columns schedule-block" id="<%= @days[1]%>-<%= @time.strftime("%I%M%p") %>">
      </div>
      <div class="small-1 columns schedule-block"id="<%= @days[2]%>-<%= @time.strftime("%I%M%p") %>">
      </div>
      <div class="small-1 columns schedule-block" id="<%= @days[3]%>-<%= @time.strftime("%I%M%p") %>">
      </div>
      <div class="small-1 columns schedule-block" id="<%= @days[4]%>-<%= @time.strftime("%I%M%p") %>">
      </div>
      <div class="small-1 columns schedule-block" id="<%= @days[5]%>-<%= @time.strftime("%I%M%p") %>">
      </div>
      <div class="small-1 columns schedule-block" id="<%= @days[6]%>-<%= @time.strftime("%I%M%p") %>">
      </div>
      <div class="small-1 columns end schedule-block" id="<%= @days[0]%>-<%= @time.strftime("%I%M%p") %>">
      </div>
    </div>
    <% @time += 900 %>
  <% end %>
</div>

<%= javascript_include_tag "teacherDashCal" %>
