    <% if current_account %>
      <% if current_account.type == "Admin" || current_account.admin %>
        <li>
          <%= link_to "Students", students_path %>
        </li>
        <li>
          <%= link_to "Lessons", lessons_path %>
        </li>
        <%= render "layouts/staff" %>
        <%= render "layouts/settings" %>
      <% elsif current_account.type == "Teacher"%>
        <li>
          <%= link_to "Lessons", lessons_path %>
        </li>
        <li>
          <%= link_to "Edit Availability", edit_teacher_path(current_account) %>
        </li>
        <% elsif current_account.type == "Family"%>
          <li>
            <%= link_to "Contacts", contacts_path %>
          </li>
          <li>
            <%= link_to "New Student", new_student_path %>
          </li>
      <% end %>
    <% end %>
