<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Expert Registration Software</title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "application", "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.css" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
      <div class= "row">
      <button class="menu-icon" type="button" data-toggle></button>
        <ul class="mobile-icons">
          <%= render 'layouts/topbar_icons' %>
        </ul>
      </div>
    </div>

    <div class="top-bar" id="main-menu">
      <div class="top-bar-left" >
        <ul class="dropdown menu vertical medium-horizontal" data-dropdown-menu>
          <li>
            <a href="/">exReg</a>
          </li>
          <%= render "layouts/topbar_left" %>
        </ul>
      </div>
      <div class="top-bar-right hide-for-small-only">
        <ul class="menu vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown">
          <%= render "layouts/topbar_right" %>
        </ul>
      </div>
    </div>

    <%= render "layouts/flash" %>

    <div class="content">
      <div class="row">
        <div class="column">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
